body{
	font-family: 'Play', sans-serif;
  background: url(../src/baner.jpg)no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.tittle{
	font-size: 2em;
	margin-top: 0;
}
.main-header{
	background-color:#121420;
	padding-left:15px;
	padding-right:15px;
	padding-top:10px;
	padding-bottom:10px;
	border-radius: 4px;
}
.body{
	padding: 60px 15px;
}
.nav-link{
	color:#E5FFDE;
	text-decoration: none;
	width: 33%;
	display: inline-block;
}
.text-center{
	text-align: center;
}
.red-text{
	color: #DA2C38;
}
.main-container{
	min-height:100vh;
}
.product img{
	width: 140px;
}
.product h3{
	font-size: 1.7em;
	margin-top: 5px;
	margin-bottom: 5px;
}
.card{
	border-radius: 1px;
	background-color: white;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.text-Box{
	background: #FFFFFF;
	border: 0;
	color : #C0C0C0;
	display: block;
	margin-bottom: 10px;
	margin-left: 370px;
}
.buton-Box{
	border-radius: 5px;
}
.ubuntu-text{
  font-family: 'Ubuntu Condensed', sans-serif;
}
.ubuntu-textW{
  font-family: 'Ubuntu Condensed', sans-serif;
  color: #FFFFFF;
  text-align: center;
}
.tableCenter{
	text-align: center;
}
.box{
  padding-top: 150px;
  padding-left: 200px;
  padding-right: 200px;
}
